# Entorno
NODE_ENV=development

# Backend
BACKEND_PORT=5000

# Frontend
FRONTEND_PORT=3000

# Base de datos (PostgreSQL)
DB_USER=appuser
DB_PASSWORD=secretpassword
DB_NAME=appdb
DB_PORT=5432

# Si usas MySQL:
# DB_PORT=3306